<div class="overview">
        <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Datos</span>
        </div>

        <div class="boxes">
            <div class="box box1">
                <i class="uil uil-user-square"></i>
                <span class="text">Delegado Senior</span>
                <span id="Senior" class="number"></span>
            </div>

            <div class="box box2">
                <i class="uil uil-user-square"></i>
                <span class="text">Delegado Junior</span>
                <span id="Junior" class="number"></span>
            </div>

            <div class="box box3">
                <i class="uil uil-user-square"></i>
                <span class="text">Facultys</span>
                <span id="Facultys" class="number"></span>
            </div>


        </div>
</div>