<div class="overview">
        <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Datos</span>
        </div>

        <div class="boxes">
            <div class="box box1">
                <i class="uil uil-user-square"></i>
                <span class="text">Delegado Antiguos</span>
                <span class="number">50,120</span>
            </div>

            <div class="box box2">
                <i class="uil uil-user-square"></i>
                <span class="text">Delegado Nuevos</span>
                <span class="number">50,120</span>
            </div>

            <div class="box box3">
                <i class="uil uil-user-square"></i>
                <span class="text">Facultys</span>
                <span class="number">50,120</span>
            </div>

            <div class="box box4">
                <i class="uil uil-bag"></i>
                <span class="text">Reuniones proximas</span>
                <span class="number">20,120</span>
            </div>

            <div class="box box5">
                <i class="uil uil-folder-check"></i>
                <span class="text">Reuniones hechas</span>
                <span class="number">10,120</span>
            </div>

            <div class="box box6">
                <i class="uil uil-file-search-alt"></i>
                <span class="text">Documentos subidos</span>
                <span class="number">10,120</span>
            </div>

        </div>
</div>