<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/styles/admin.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

	<!-- link del logo en el navegador -->
    <link rel="icon" href="/images/Logo.png" type="image/x-icon">

    <title>Dashboard</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
               <img src="/images/logo.png" alt="">
            </div>

            <span class="logo_name">JOMUN</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#" onclick="cargarContenido('dashboardSA')"">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Inicio</span>
                </a></li>
                <li><a href="#" onclick="cargarContenido('TaskAdminA')">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Tareas</span>
                </a></li>

                <li><a href="#" onclick="cargarContenido('estudiantesA')">
                    <i class="uil uil-users-alt"></i>
                    <span class="link-name">Usuarios</span>
                </a></li>

                <li><a href="#">
                    <i class="uil uil-notes"></i>
                    <span class="link-name">Notas de version</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">

				<li><a href="#">
                    <i class="uil uil-setting"></i>
                    <span class="link-name">Configuracion</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
            
            <img src="/images/icon.png" alt="">
        </div>

        <div class="dash-content" id="contenido">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Datos</span>
                </div>

                <div class="boxes">
                    <div class="box box1">
                        <i class="uil uil-user-square"></i>
                        <span class="text">Delegado Antiguos</span>
                        <span class="number">50,120</span>
                    </div>

                    <div class="box box2">
                        <i class="uil uil-user-square"></i>
                        <span class="text">Delegado Nuevos</span>
                        <span class="number">50,120</span>
                    </div>

                    <div class="box box3">
                        <i class="uil uil-user-square"></i>
                        <span class="text">Facultys</span>
                        <span class="number">50,120</span>
                    </div>

                    <div class="box box4">
                        <i class="uil uil-bag"></i>
                        <span class="text">Reuniones proximas</span>
                        <span class="number">20,120</span>
                    </div>

                    <div class="box box5">
                        <i class="uil uil-folder-check"></i>
                        <span class="text">Reuniones hechas</span>
                        <span class="number">10,120</span>
                    </div>

                    <div class="box box6">
                        <i class="uil uil-file-search-alt"></i>
                        <span class="text">Documentos subidos</span>
                        <span class="number">10,120</span>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <script src="/admin/index.js"></script>
    <script src="/admin/pages.js"></script>
</body>
</html>