<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/singup.css">

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- link de remixicon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet"/>
    <!-- icono -->
    <link rel="icon" href="/images/Logo.png" type="image/x-icon">
    <title>Login</title>
</head>
<body>
  
    <section class="container">
      

        <div class="image-section">
          <a id="botonRetroceder" href="/"><i class="ri-arrow-left-line"></i></a>
          <div class="image-wrapper">
            <img src="/images/image1.jpeg" alt="">
          </div>
  
          <div class="content-container">
            <h1 class="section-heading">La educación es la llave maestra que abre las <span>puertas del mundo</span></h1>
            <p class="section-paragraph">El conocimiento es el puente que conecta mentes y construye un mundo mejor.</p>
          </div>
        </div>
  
        <form action="#" id="login" class="form-section">
          <div class="form-wrapper">
            <div class="logo-container">
              <a href="#" class="logo-container">
                <img src="/images/Logo.png" alt="Logo">
              </a>
            </div>
  
            <h2>Bienvenido Delegado! 👋🏻</h2>
            <p>Ingresa tus datos.</p>
  
            <div class="input-container">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" autocomplete="off">
              </div>
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password">
              </div>
            </div>
  
            <!-- <div class="remember-forgot">
              <div class="remember-me">
                <input type="checkbox" value="remember-me" id="remember-me">
                <label for="remember-me">recuerdame</label>
              </div>
  
              <a href="#">¿Olvidaste tu contraseña?</a>
            </div> -->
  
            <button type="submit" class="login-btn">Ingresar</button>
  
            <div class="or-divider">or</div>
  
            <button class="google-signin">
                <i class="ri-google-fill"></i>
              <span>Ingresar con Google</span>
            </button>
          </div>
        </form>
      </section>

      <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>
      <!-- custom js -->
    <script type="module" src="/signup/index.js"></script>
    <script type="module" src="../components/notification.js"></script>
</body>
</html>