<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/input.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap" rel="stylesheet">
    <title>Inicio</title>
</head>
<body class="bg-slate-50">
    <!-- menu de la pagina web -->
    <nav id="nav-bar">
        <div id="nav-container">
            
            <a href="/index.html"><img src="/images/Logo.png" alt="Logo" id="nav-logo"></a>

            <div id="links-container">
                <a class="nav-link" href="/index.html">Home</a>   
                <a class="nav-link" href="#">Noticias</a>
                <a class="nav-link" href="#">Quienes Somos</a> 
            </div>

            <a href="/signup" class="nav-button">inicio de sesion</a>
        </div>         
    </nav>


    <!-- presentation -->
    <div class="presentation">
        <div class="main">
            <h1>BIENVENIDOS A JOMUN</h1>
            <p></p>
        </div>
    </div>

    <div class="principal">
        <!-- <div class="info">
            <h1>Prueba</h1>
        </div> -->
    </div>

    <script src="/index.js"></script>
</body>
</html>